
@mixin center-fullscreen {
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    background: rgba(0, 0, 0, 0.3);
    animation: modal-cover 0.5s;
}

.property-modal-container, .property-modal {
    @include center-fullscreen();
}
