
.property-modal-container {
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    .top-nav {
        background: white;
        padding: 0;
    }
    .modal-cover {
        animation: none;
    }
}

.property-modal {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    .property-item {
        width: 100%;
        height: 100%;
    }
}

.property-modal .property-item {
    cursor: default;
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: scroll;
    font-family: "Open Sans", Tahoma, Geneva, sans-serif;
    color: rgb(42,42,51);
}

.property-modal-top {
    z-index: 101;
    position: fixed;
    width: 100%;
    background: none;
    .modal-exit:first-child {
        filter: invert(1);
    }
    .modal-exit {
        position: absolute;
    }
}

.property-carousel .property-image {
    width: 100%;
    img {
        width: 100%;
    }
}

.property-details {
    display: flex;
    flex-direction: column;

    .property-main-details,
    .property-details-smaller, 
    .property-address, 
    .property-lower-details,
    .property-nav-bar,
    .property-lower-sale,
    .property-nav-link {
        display: flex;
    }
}

.property-details {
    height: 6rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background: white;

    .property-details-price {
        font-weight: 700;
        font-size: 1.5rem;
        margin-right: 0.75rem;
    }
    div {
        padding: 0.15rem 0;
    }
}

.property-main-details {
    margin-bottom: 0.5rem;
}

.property-details-smaller {
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}

.property-details-smaller div, .property-lower-details div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    font-size: 0.85rem;
    &:not(:last-child) {
        border-right: 1px solid lightgray;
    }
    span {
        margin-right: 0.25rem;
    }
}

.property-details-smaller div {
    span {
        font-weight: 600;
    }
}

.property-address {
    font-weight: 400;
    font-size: 0.9rem;
}

.property-lower-sale {
    justify-content: center;
    align-items: center;
    font-weight: 700;

    .property-sale-ball {
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 2rem;
    }
}

.property-lower-westimate span{
    font-weight: 700;
    margin: 0 0.5rem;
}

.property-details-footer {
    padding: 0;
    font-size: 0.8rem;
    span {
        font-weight: 700;
    }
}

.property-nav-link {
    display: inline-flex;
}

.property-sub-header {
    font-size: 1.5rem;
    font-weight: 700;
}

.overview-details {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    span {
        font-weight: 700;
    }
}

.overview-description {
    line-height: 150%;
}

.property-modal .property-item > div {
    padding: 1.5rem;
}

.property-nav-bar,
.property-small-map,
.property-overview,
.property-facts-features,
.property-cost-calculator,
.property-rent-westimate {
    border-bottom: 1px solid lightgray;
}

.property-facts-item {
    display: flex;
    padding: 1rem 0;
    div {
        margin: 0 0.5rem;
    }
    svg {
        filter: brightness(0) saturate(100%) invert(33%) sepia(50%) saturate(7362%) hue-rotate(209deg) brightness(101%) contrast(105%);
    }
}


@media (min-width: 1024px) {
    .property-modal-container {
        z-index: 100;
        position: fixed;
        width: 80%;
        max-width: 1000px;
        height: 90vh;
        margin-left: 10%;
        top: 0;
        left: 0;
    }
    .property-modal {
        z-index: 100;
        position: fixed;
        width: 80%;
        max-width: 1000px;
        height: 100vh;
        margin-left: 10%;
        top: 0;
        left: 0;
    }
}