.sub-nav-header {
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.saved-searches-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}

.saved-search-wrapper {
    width: 80%;
    max-width: 1024px;
    height: 6rem;
    background: white;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 0.5rem;
}

.saved-search-inner {
    display: flex;
    justify-content: space-between;
    font-family: "Open sans", sans-serif;
    font-size: 1.25rem;
}

.saved-search-inner > div {
    padding: 2rem;
}

.saved-search-right {
    display: flex;
    div {
        cursor: pointer;
        padding: 0.25rem .25rem;
        margin: 0 .75rem;
        font-weight: 600;
        color: #006DFF;
        svg {
            margin-right: 0.5rem;
            filter: brightness(0) saturate(100%) invert(33%) sepia(50%) saturate(7362%) hue-rotate(209deg) brightness(101%) contrast(105%);
        }
    }
}