.sell-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background:#ffffff;
    border-bottom: 1px solid lightgray;
}

.sell-form-content .top-nav {
    width: 100%;
    background: white;
    border-bottom: 1px solid lightgray;
    .top-logo {
        img {
            filter: none;
        }
    }
}

.sell-form-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 30rem;
    background-image: asset-data-url("sell-page-banner.png");
    background-size: cover;
    background-position: 51%;
}

.sell-form-mid {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    color: rgb(42,42,51);
    background: white;

    .sell-form-header {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        font-size: 1.8rem;
    }
}

.sell-form-cards {
    display: flex;
    align-items: flex-start;
    padding-bottom: 4rem;
    border-bottom: 1px solid lightgray;
}

.sell-form-card {
    display: flex;
    min-width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 150%;
    padding: 1rem;
    img {
        width: 5rem;
        height: 5rem;
        padding: 1rem;
    }
    .sell-form-card-copy {
        text-align: center;
        width: 60%;
    }
}

// Property Sell Form in banner

.sell-form-container {
    color: white;
    font-family: "Open sans", sans-serif;
    div {
        padding: 0.75rem;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        input[type="text"]:not(:first-child), select {
            width: 40%;
        }
        input:first-child {
            width: 100%;
        }
    }
    .sell-form-header {
        background: #0D4599;
        font-size: 1.5rem;
        font-weight: 600;
    }
    input, select {
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        border: none;
        font-weight: 400;
        color: #A7A6B3;
    }
    input[type="text"], select {
        background: white;
        outline: 1px solid #A7A6AB;
    }
    input[type="submit"] {
        background: #3DCA5A;
        color: white;
        border-radius: 6px;
        font-weight: 400;
        cursor: pointer;
    }
}

.sell-form-wrapper {
    background: rgba(0,116,228,.9);
}

.sell-form-sub-header {
    border-bottom: 1px solid white;
}

.sign-in-checker {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .sell-form-container {
        .sell-form-header {
            font-size: 2.25rem;
            width: 38rem;
            height: 2.5rem;
            padding: 1rem;
            clip-path: polygon(95% 0, 0 0, 0 100%, 100% 100%);
        }
        form {
            input[type="text"]:not(:first-child), select {
                width: 12rem;
            }
            input:first-child {
                width: 24rem;
            }
        }
    }
}

.edit-sell-content {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
}

.edit-sell-title-wrapper {
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
    color: rgb(42,42,51);

    div {
        padding: 0.5rem 0;
    }
    .edit-sell-header {
        font-size: 2rem;
        font-family: "Dutch 809", cursive;
    }

    .edit-sell-sub-header {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: "Open sans", sans-serif;
    }
}

.edit-sell-mid {
    width: 100%;
    max-width: 1275px;
    font-family: "Open sans", sans-serif;
    font-size: 1rem;
    .edit-sell-mid-text {
        padding: 1.5rem 0;
    }
}

.edit-sell-map {
    width: 100%;
    height: 24rem;
}

.edit-sell-buttons {
    display: flex;
    font-family: "Open Sans", sans-serif;
    padding: 2rem 0;
    div {
        color: #006DFF;
        background: white;
        padding: 0.75rem 1rem;
        border-radius: 3px;
        margin-left: 1rem;
        cursor: pointer;
        outline: 1px solid #006DFF;
        font-weight: 700;
        font-size: 1rem;
    }
    div:first-child {
        color: white;
        background: #006DFF;
        transition: all 0.1s linear;
    }
    div:last-child:hover {
        background: #F2FAFF;
        color: #0D4599;
        transition: all 0.1s linear;
    }
    div:first-child:hover {
        background: #0D4599;
        transition: all 0.1s linear;
    }
}

.create-property-content {
    width: 90%;
    margin: 2rem;
    max-width: 1275px;
    font-family: "Open sans", sans-serif;
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        input {
            width: 40%;
            background: rgb(255, 255, 255);
            border: 1px solid darkgray;
            margin: 0.5rem;
            font-weight: 400;
            padding: 0.25rem;
        }
        input[type="submit"] {
            width: 12rem;
            background: #006DFF;
            border-radius: 6px;
            color: white;
            border: none;
            font-size: 0.9rem;
            padding: 0.65rem 1rem;
            cursor: pointer;
        }
    }
    form > div {
        padding: 1rem;
    }
}

.create-property-price,
.create-property-photos,
.create-property-facts {
    .create-section-head {
        font-size: 1.75rem;
        font-weight: 600;
        color: #2A2A33;
        padding: 1rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid darkgray;
}

.title-upper {
    font-weight: 600;
    padding: 1rem 0;
    color: #2A2A33;

    .create-property-header {
        font-size: 2rem;
        padding: 0.5rem 0;
    }
    
    .create-property-sub-header {
        font-size: 1.25rem;
        padding: 0.5rem 0;
    }

    .create-property-head-copy {
        line-height: 150%;
    }
}

.create-property-head-copy span {
    font-size: 0.8rem;
    margin: 1rem;
    color: rgb(218, 218, 218);
}

.create-property-title {
    padding-bottom: 2rem;
    border-bottom: 1px solid darkgray;
}


.property-photos-wrapper {
    border: 1px solid lightgray;
}