
.sell-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background:#f9f9fb;
}

.sell-content .top-nav {
    width: 100%;
    background: white;
    border-bottom: 1px solid lightgray;
    .top-logo {
        img {
            filter: none;
        }
    }
}

.sell-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    image-rendering: optimizeSpeed;
    background-image: asset-data-url("user-sell-banner.png");
    background-size: cover;
    background-position: 51%;
    width: 100%;
    height: 17.5rem;
    padding: 1rem;
    color: rgb(42,42,51);
    .sell-banner-header {
        font-family: "Dutch 809";
        font-size: 1.5rem;
        padding: 0.25rem;
    }
    .sell-banner-sub-header {
        font-family: "Open-sans", sans-serif;
        font-size: 1.25rem;
        text-align: center;
        padding: 1rem 0.5rem 6rem;
    }
}

.sell-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(42,42,51);
    padding: 2.5rem 0;
    .sell-cta-img {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
            width: 26rem;
            height: 18rem;
            margin-bottom: 2rem;
        }
    }
    .sell-cta-lower {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sell-cta-header {
        padding: 1rem;
        font-family: "Dutch 809";
        font-size: 3rem;
        line-height: 120%;
        text-align: center;
    }
    .sell-cta-copy {
        padding: 1.5rem;
        font-family: "Open sans", sans-serif;
        line-height: 175%;
        text-align: center;
    }
    .sell-cta-button {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 16rem;
        height: 3.5rem;
        margin-top: 2.5rem;
        border-radius: 0.25rem;
        background: #0263EC;
        color: white;
        font-family: "Open sans", sans-serif;
        font-weight: 700;
        transition: all 0.1s linear;
    }
    .sell-cta-button:hover {
        background: #0B4AA6;
        transition: all 0.1s linear;
    }
}

.sell-value-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 17.5rem;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    image-rendering: optimizeSpeed;
    background-image: asset-data-url("user-sell-lower.jpg");
    background-size: cover;
    background-position: center bottom;
    color: white;
    font-family: "Open sans", sans-serif;
    div {
        margin: 1rem 0;
    }
    .sell-value-check-header {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .sell-value-check-sub-header {
        font-weight: 700;
    }
    .sell-value-check-form {
        width: 80%;
        height: 4.5rem;
        background: white;
        border-radius: 6px;
    }
}

.sell-lower-line {
    width: 12rem;
    height: 4px;
    background: #FFD237;
}

@media (min-width: 482px) {
    .sell-banner {
        justify-content: flex-start;
        .sell-banner-sub-header {
            padding: 1rem 0.5rem;
        }
    }
}

// Rearrange layout, margins, font sizes, etc
@media (min-width: 769px) {
    .sell-banner{
        .sell-banner-header {
            padding-top: 1.5rem;
            font-size: 3rem;
        }
    }
    .sell-cta {
        width: 82.5%;
        max-width: 72.5rem;
        flex-direction: row-reverse;
        margin: 0 1rem;
        .sell-cta-lower {
            align-items: flex-start;
            div{
            text-align: left;
            }
        }
        .sell-cta-img {
            height: 100%;
        }
    }
    .sell-value-check {
        width: 82.5%;
        max-width: 72.5rem;
        height: 19.4rem;
        border-radius: 1.25rem;
    }
}

// Banner now scales with viewport width
@media (min-width: 800px) {
    .sell-banner{
        height: 35vw;
    }
}

// Banner narrows in height
@media (min-width: 1024px) {
    .sell-banner{
        height: 30vw;
        background-position: center bottom;
    }
}

@media (min-width: 1282px ) {
    .sell-banner{
        background-position: center bottom;
        .sell-banner-header {
            font-size: 3.5rem;
        }
        .sell-banner-sub-header {
            font-size: 1.5rem;
        }
    }
}