/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* @font-face {
    font-family: "Dutch 809";
    src: url("../fonts/Dutch809BoldBT.ttf") format("truetype");
} */

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#root {
    display: flex;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 0.5rem;
}

.top-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    margin: 1.5rem 0.75rem;
    cursor: pointer;
}

.top-dropdown:focus {
    border: 4px solid white;
}

.dropdown-bar {
    display: flex;
    width: 1.1rem;
    height: 0.15rem;
    margin: 0.125rem;
    border-radius: 4px;
    background: white;
}

.top-left, .top-right {
    display: flex;
    justify-content: center;
    width: 30%;
}

.top-left > div, .top-right > div {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

#login {
    display: flex;
    justify-content: space-evenly;
}

#login a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.sign-up {
    display: none;
}

.top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

// disable anti-aliasing for a sharper logo
.top-logo img {
    width: 120px;
    height: 25px;
    filter: brightness(0) invert(1);
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.splash-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background:#f9f9fb;
}

.top-container {
    image-rendering: optimizeSpeed;
    background-image: asset-data-url("splash-image.webp");
    background-position: 80% 60%;
}

.splash-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 23.5rem;
}

.splash-header {
    display: flex;
    font-size: 1.75rem;
    color: white;
    /* font-family: "Dutch 809"; */
    font-weight: 600;
    margin: 4.75rem 0 1rem;
}

.search-container {
    width: 75%;
    height: 3.5rem;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.search-container form {
    display: flex;
    width: 100%;
    height: 100%;
    input {
        width: 90%;
        padding: 1.25rem;
    }
}

#search-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    img {
        filter: opacity(70%);
        width: 1.25rem;
        height: 1.25rem;
        padding: 1rem;
    }
}

.splash-lower-tag {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 4rem 3rem 3.2rem;
    background-color: #f9f9fb;
}

.cards {
    display: flex;
    flex-direction: column;
}

.link-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.342);
    background-color: white;
    height: 31rem;
    margin: 0.7rem 0;

    .card-image {
        height: 40%;
        padding: 3rem 2rem 1.5rem 2rem;
        img {
            width: 24rem;
            height: 12rem;
        }
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .card-copy {
        padding: 1rem 2rem 2rem;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    .card-button {
        padding: 0.65rem 1.25rem 0.65rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #006aff;
        border: 1px solid #006aff;
        border-radius: 4px;
    }
}

.link-card:hover {
    cursor: pointer;
    animation: card-grow 0.25s linear;
    animation-fill-mode: forwards;
}

@keyframes card-grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.02) translateY(-0.5rem);
    }
}

.footer {
    display: flex;
    height: 20rem;
    background-color: white;
}

/* ---------------------------------------------------- */

@media (min-width: 480px) {
    .cards {
        margin: 0 2rem 0;
    }

    .search-container {
        height: 4rem;
    }
}

@media (min-width: 770px) {
    .splash-header {
        font-size: 2.5rem;
    }
    .search-container {
        width: 30rem;
    }
}

@media (min-width: 852px) {
    .top-container {
        height: 35.25rem;
    }
}

@media (min-width: 890px) {
    .top-nav {
        display: flex;
        background-color:white;
    }

    .top-left, .top-right {
        display: flex;
    }

    .top-left div, .top-right div {
        display: flex;
    }

    .top-logo img {
        filter: none;
        width: 175px;
        height: 35px;
    }

    #login a {
        color: black;
        font-size: inherit;
    }
}

@media (min-width: 1024px) {
    .search-container {
        width: 42rem;
    }

    .cards {
        flex-direction: row;
    }

    .link-card {
        width: 30%; // DEBUG
        margin: 0 0.75rem 0;
    }
}